

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home/}">Solveit</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/category/add}">Category Add</a></li>
                    <li><a class="dropdown-item"th:href="@{/category/list}">Category List</a></li>
                </ul>
            </li>

            <li><a class="nav-link" th:href="@{/subjects}">Subjects</a></li>

            <li><a class="nav-link" th:href="@{/teachers}">Teachers</a></li>
        </ul>
    </div>
</nav>

